doctype html
head
  meta(charset='utf-8')
  title Login
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet')
  body
    form(action='/upload', enctype='multipart/form-data', method='post')
        input(type='text', name='title')
        input(type='file', name='fileUploaded')
        input(type='submit', value='Upload')

    .files
      each val, index in files
        p #{index} -  
          a(href=val.filename) #{val.filename} 
          if val.directory
            b (dir)